html, body {
    margin: 15px 0;
    padding: 0;
    background-color: whitesmoke;
    min-width: 200px;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-bottom: 25px;
    border-bottom: 5px double black;
}

.logo {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10px;
    top: 10px;
}

header input {
    width: 10%;
    border: none;
    height: 50px;
}

select{
    padding: 0 .5em;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
    text-align-last: center;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    border: 3px double black;
}

#mode-selection{
    width: 200px;
}

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

#generated-colors {
    display: flex;
    height: 75vh;
    margin-top: 1em;
}

.generated-color {
    height: 100%;
    flex: 1;
    color: transparent;
}

#generated-hexes {
    display: flex;
    margin-top: 1.5em;
}

.generated-hex{
    margin: 0;
    width: auto;
    flex: 1;
    text-align: center;
}

#number-of-colors-selections {
    text-align: center;
    text-align-last: center;
    width: 80px;
}

#color-picker{
    border: 5px groove grey;
    border-radius: 10px;
}

#default-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    text-shadow: -5px 5px 5px grey;
    font-family: sans-serif;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 475px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    
    header input {
        width: 40%;
    }
    
    select {
        padding: .5em;
    }
    
    #generated-colors {
        flex-direction: column;
    }
    
    .generated-color {
        color: white;
        font-size: 16pt;;
        display: flex;
        justify-content: center;
        align-items: center;
        
        /* adding thick outline to see text withing */
        text-shadow: 
        #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, 
        #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px ;
    }
    
    #generated-hexes {
        display: none;
    }
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
